   .table-hover tbody tr:hover {    
    background-color: #bed18d   !important;
  }

  .flash-message-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}